.container#more-info
  .row
    .col-md-12
      %h2 Thank you for submitting the link!

      %table.table
        %thead
          %tr
            %th Fields
            %th Values
        %tbody
          %tr
            %td Title
            %td= link_to @link.title, @link.url
          %tr
            %td Author
            %td= @link.authors.first.name
          %tr
            %td Category
            %td= @link.categories.first.name

      %h4 Tell us more about the post, so we can archive it better!

  .row
    .col-md-6.col-xs-6
      = form_for @link, url: update_more_info_link_path(@link), method: :put do |f|
        .form-group
          = f.label :str_publication_date, 'Publication date'
          .input-group.date
            = f.text_field :str_publication_date, class: 'form-control', :'data-behavior' => 'datepicker'
            %span.input-group-addon
              %i.glyphicon.glyphicon-th

        = f.submit 'Submit', class: 'btn btn-primary'

    .col-md-6.col-xs-6
