.container#new-link
  .row
    .col-md-12
      %h1 New Link
  .row
    .col-md-6
      = form_for @link do |f|
        .form-group
          = f.label :title
          = f.text_field :title, class: 'form-control'
        .form-group
          = f.label :url, 'URL'
          = f.text_field :url, class: 'form-control'

        = f.fields_for :authors do |authors_form|
          .form-group
            = authors_form.label :name, 'Author'
            .author-field
              = authors_form.text_field :name, class: 'typeahead form-control'

        = f.fields_for :categories do |categories_form|
          .form-group
            = categories_form.label :name, 'Category'
            .category-field
              = categories_form.text_field :name, class: 'typeahead form-control'

        = f.submit 'Submit', class: 'btn btn-primary'

    .col-md-6
