!!! 5
%html
  %head
    %title= app_name
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    = render partial: 'layouts/nav_bar'
    #main
      = yield
    = render partial: 'layouts/footer'
